{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserInfo</title>
    <link rel="stylesheet" href="{% static 'css/userInfo.css' %}">
</head>
<body>
    {% include 'partials/_nav.html' %}
    <div class="container">
        <div class="info">
                <div class="sectionOne">
                    <img src="{{user_obj.image.url}}" alt="">
                    <h1>{{user_obj.name}}</h1>
                <p>{{user_obj.email}}</p>
            </div>
            <div class="sectionTwo">
                <div class="head">
                    <h2>Student Info</h2>

                </div>
                <br>
                <p><b>ID </b> BCS00-{{user_obj.id}}</p>
                <p><b>Address </b>{{user_obj.address}}</p>
                <p><b>Date of birth </b>{{user_obj.date_of_birth|date:"d M Y"}}</p>
                <p><b> Last login </b>{{user_obj.last_login|date:"d M Y"}}</p>
            </div>
        </div>
    </div>
</body>
</html>