{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <title>User</title>
</head>
<body>  
        {% include 'partials/_nav.html' %}

    <div class="container">
        <div class="box">
            <div class="first_section">
                <div class="backgrounder">
                    <img src="{{user.image.url}}" id="bg">
                </div>

                 <div class="pro">
                     <img src="{{user.image.url}}" id="profile">
                    </div>

                <div class="nm">
                    <h2>{{user.name}}</h2>
                    <div class="btn"><a href="{% url 'logout' %}" id="logout">Logout</a></div>
                </div>  
                
            </div>
            <div class="second_section">
                <p> <b>Name:</b>  {{user.name}}</p>
                <p> <b>Email:</b>  {{user.email}}</p>
                <p> <b>Address:</b>  {{user.address}}</p>
                <p> <b>Last Login:</b>   {{user.last_login|date:"d M Y"}}</p>
            </div>
        </div>
    </div>    
</body>
</html>